<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha384-mlceH9HlqLp7GMKHrj5Ara1+LvdTZVMx4S1U43/NxCvAkzIo8WJ0FE7duLel3wVo" crossorigin="anonymous"></script>
    <title>Jose's JavaScript Testing shop</title>
</head>

<body>

    <!--       set script to test here-->
    <script src="/template/tweaked_promise_traditional.js" type="text/javascript" defer="true"></script>
    <!--        set script to test here-->

</body>

</html>
